.showcase__menu{
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0px 5px 15px 10px #f8f8f8 ;
    border-radius: 30px;
}

.menu_categories{
    text-decoration: none;
    color: black;
    margin-top: auto;
    margin-bottom: auto;

}

.showcase .card_img{
    width: 180px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .showcase__menu{
        width: 425px;
    }
}

@media screen and (max-width: 425px) {
    .showcase__menu{
        width: 300px;
        justify-content: center;
    }
    .menu_categories{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 375px) {
    .showcase__menu{
        width: 300px;
    }

}